ul
{ list-style-type: none;
  padding:0;
}

ul li
{ display: inline;
}

a
{ text-decoration: none;
  margin-right: 10px;
  background-color: lightgrey;
  color: blue;
  font-family: Helvetica, sans-serif;
  padding: 0 20px;
  height: 30px;
  line-height: 28px;
  border: 1px solid darkgrey;
  border-radius: 2px;
  font: 700 13px Helvetica;
  padding: 0 20px;
  
  
}

a:hover
{ color: white;
  background-color: darkgrey;
  cursor: url(icon1.png), default;
}